<div class="row" style="margin: 0 auto; font-size: 40px;">
    <form action="/events/add"  method="post" style="margin: 0 auto; width: 40%; font-size: 40px;">
        <div class="input-field" >
          <input name="title" id="title" type="text" class="validate font_size">
          <label for="title" class="font_size">Event Name</label>
        </div>
        <div class="input-field" >
          <input name="college_name" id="college_name" type="text" class="fontss">
          <label for="college_name" class="font_size">College Name</label>
        </div>
        <div class="input-field" >
          <input name="information" id="information" type="text" class="validate font_size">
          <label for="information" class="font_size">Information</label>
        </div>
        <div class="input-field" >
          <input name="time" id="time" type="text" class="validate font_size">
          <label for="time" class="font_size">Time</label>
        </div>
        <div class="input-field" >
          <input name="venue" id="venue" type="text" class="validate font_size">
          <label for="venue" class="font_size">Venue</label>
        </div>
            <input type="submit" value="Add Event" class="btn">
    </form>
</div>
        