  {{> _header2}}

<div class="row" style="margin: 0 auto; font-size: 40px;">
    <form action="/account/signUpC"  method="post" style="margin: 0 auto; width: 40%; font-size: 40px;">
        <div class="input-field" >
          <input name="collegeName" id="collegeName" type="text" class="validate font_size">
          <label for="collegeName" class="font_size">College Name</label>
        </div>
        <div class="input-field" >
          <input name="collegeEmail" id="collegeEmail" type="text" class="fontss">
          <label for="collegeEmail" class="font_size">Email</label>
        </div>
        <div class="input-field" >
          <input name="collegePhone" id="collegePhone" type="text" class="validate font_size">
          <label for="collegePhone" class="font_size">Phone No.</label>
        </div>
        <div class="input-field" >
          <input name="password" id="password" type="password" class="validate font_size">
          <label for="password" class="font_size">Password</label>
        </div>
        <div class="input-field" >
          <input name="password2" id="password2" type="password" class="validate font_size">
          <label for="password2" class="font_size">Confirm Password</label>
        </div>
        
        <div class="input-field" >
          <input name="collegeAddress" id="collegeAddress" type="text" class="validate font_size">
          <label for="collegeAddress" class="font_size">Address</label>
        </div>
            <input type="submit" value="Register" class="btn">
    </form>
</div>
        