  {{> _header2}}

<div class="row" style="margin: 0 auto; font-size: 40px;">
    <form action="/account/signUp"  method="post" style="margin: 0 auto; width: 40%; font-size: 40px;">
        <div class="input-field" >
          <input name="name" id="name" type="text" class="validate font_size">
          <label for="name" class="font_size">Name</label>
        </div>
        <div class="input-field" >
          <input name="email" id="email" type="text" class="fontss">
          <label for="email" class="font_size">Email</label>
        </div>
        <div class="input-field" >
          <input name="phone" id="phone" type="text" class="validate font_size">
          <label for="phone" class="font_size">Phone No.</label>
        </div>
        <div class="input-field" >
          <input name="password" id="password" type="password" class="validate font_size">
          <label for="password" class="font_size">Password</label>
        </div>
        <div class="input-field" >
          <input name="password2" id="password2" type="password" class="validate font_size">
          <label for="password2" class="font_size">Confirm Password</label>
        </div>
        <div class="input-field" >
          <input name="college" id="college" type="text" class="validate font_size">
          <label for="college" class="font_size">College Name</label>
        </div>
        <div class="input-field" >
          <input name="gender" id="gender" type="text" class="validate font_size">
          <label for="gender" class="font_size">Gender</label>
        </div>
            <input type="submit" value="Register" class="btn">
    </form>
</div>
        