<div class="wrap">
    <div class="image">
        <div class="text">
                      We are here to reduce gap between student community..
    <div class="middle">
    <form class="form-inline" style="display: inline-block">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control"placeholder="search any course" style="color: white; font-weight:  bold; font-size: 30px; "> 
  </div>
  <button type="submit" class="btn btn-primary mb-2">Search</button>
</form>
</div>
        </div>

    </div>

</div>
